#MY Heating Server Setting Properties
#Mon Dec 04 23:11:57 KST 2017
minTemp=11.0
highTemp=24.0
requestURL=http\://m.ezville.net/ezvillehn/mobile/service/temSetControlCall.php
wannaTemp=23.0
hh_dong=101
responseURL=http\://m.ezville.net/ezvillehn/mobile/service/temSetSearchCall.php
hh_ho=705
runningMin=40
watchingMin=10
hkey=0008911
