<!DOCTYPE html>
<html>
<head>


<title>Hello World</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/themes/MyHome.css" />
<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$.ajax({
			contentType : 'application/json',
			dataType : 'json',
			url : '/getInfo',
			type : 'POST',
			success : function(response) {
				if (response.working == true)
					$("#switch").html("On");
				else
					$("#switch").html("Off");

				// For running Time

				var runningMin = response.runningMin;
				$("#runningMinId option").each(function() {
					if( $(this).html() == runningMin)
						$(this).prop('selected',true);
						
				});
				
				
				var watchingMin = response.watchingMin;
				$("#intervalId option").each(function() {
					if( $(this).html() == watchingMin)
						$(this).prop('selected',true);
				});
				
				var wannaTemp = response.targetTemp;
				$("#wannaTempId option").each(function() {
					if( $(this).html() == wannaTemp)
						$(this).prop('selected',true);
				});
				
				var highTemp = response.setTemp;
				$("#highTempId option").each(function() {
					if( $(this).html() == highTemp)
						$(this).prop('selected',true);
				});
				
				var minTemp = response.minTemp;
				$("#lowTempId option").each(function() {
					if( $(this).html() == minTemp)
						$(this).prop('selected',true);
				});

				



				//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
			},
			error : function(request, status, error) {
				alert(response.message);
			}
		});

		$.ajax({
			contentType : 'application/json',
			dataType : 'json',
			url : '/getCurrTempInfo',
			type : 'GET',
			success : function(response) {
				var list = response

				$("#roomTempTable").append("<tr>");
				$("#roomTempTable").append("<th> 현재 온도 </th>");
				$.each(list, function(i) {
					console.log(list[i]);

					$("#roomTempTable").append(
							"<td>" + list[i].currTmp + "</td>");
				});
				$("#roomTempTable").append("</tr>");

				$("#roomTempTable").append("<tr>");
				$("#roomTempTable").append("<th> 설정 온도 </th>");
				$.each(list, function(i) {
					console.log(list[i]);

					$("#roomTempTable").append(
							"<td>" + list[i].setTemp + "</td>");

				});
				$("#roomTempTable").append("</tr>");

			},
			error : function(request, status, error) {
				alert(response.message);
			}
		});

	});

	$(function() {
		$('#switch').on('click', function() {
			var value = $("#switch").text();
			$.ajax({
				data : {
					"val" : value
				},
				url : '/switchHeater',
				type : 'get',
				success : function(response) {
					if (response.result == true) {
						if (value == "On")
							$("#switch").html("Off");
						else
							$("#switch").html("On");
					} else
						alert("Not Work! : " + response.result);

					//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
				},
				error : function(request, status, error) {
					alert(response.message);
				}
			});
		});
		
		// for apply switch button
		$('#applySwitch').on('click',function(){
			var property = new Object();
			
			var runningMin = $("#runningMinId option:selected").text();
			var intervalMin = $("#intervalId option:selected").text();
			var wannaTemp = $("#wannaTempId option:selected").text();
			var highTemp = $("#highTempId option:selected").text();
			var lowTemp = $("#lowTempId option:selected").text();
			
			property.runningMin = runningMin;
			property.intervalMin = intervalMin;
			property.wannaTemp = wannaTemp;
			property.highTemp = highTemp;
			property.lowTemp = lowTemp;
			
			$.ajax({
				data : JSON.stringify(property),
				url : '/applyConfig',
				contentType : 'application/json',
				dataType : 'json',
				type : 'POST',
				success : function(response) {
					if (response.result == true) {
						alert("Success!");
					} else
						alert("Not Work!");
				},
				error : function(request, status, error) {
					alert(response.message);
				}
			});
		})
		
	});

	function switchHeater() {
		var value = $("#switch").text();
		$.ajax({
			data : {
				"val" : value
			},
			url : '/switchHeater',
			type : 'get',
			success : function(response) {
				if (response.result == true) {
					if (value == "On")
						$("#switch").html("Off");
					else
						$("#switch").html("On");
				} else
					alert("Not Work! : " + response.result);

				//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
			},
			error : function(request, status, error) {
				alert(response.message);
			}
		});
	}
</script>
</head>
<body>

	<div id="status">
		<h1 style="text-align: center;">도치네 보일러 현황 </h1>
		<h4 style="text-align: center;"> <a href="log" target="_blank"> Show logs..</a> </h4>
		
		<br/>
		<div style="width: 30%; margin: auto;">
			<button id="switch" class="ui-btn"></button>
		</div>


		<br /> <br />

		<table data-role="table" id="table-column-toggle"
			class="ui-responsive table-stroke">
			<thead>
				<tr style="margin: 0 auto;">
					<th>구분</th>
					<th>거실</th>
					<th>안방</th>
					<th>서재방</th>
					<th>작은방</th>
					<th>화장실</th>
				</tr>
			</thead>
			<tbody id="roomTempTable">

			</tbody>
		</table>


		<br /> <br />

		<div id="settingDiv">

			<ul data-role="listview">
				<li> <label for="select-native-1">보일러 1회 동작 시간</label>     <select
					name="select-native-1" id="runningMinId">         
						<option value="1">10</option>         
						<option value="2">20</option>         
						<option value="3">30</option>         
						<option value="4">40</option>         
						<option value="5">50</option>         
						<option value="6">60</option>         
						<option value="7">70</option>         
						<option value="8">80</option>         
				</select></li>     

				<li><label for="select-native-2">체크 간격</label>     <select
					name="select-native-2" id="intervalId">         
						<option value="1">10</option>         
						<option value="2">20</option>         
						<option value="3">30</option>         
				</select></li>

				<li><label for="select-native-3">희망 온도</label>     <select
					name="select-native-3" id="wannaTempId">         
						<option value="1">20.0</option>         
						<option value="2">21.0</option>         
						<option value="3">22.0</option>         
						<option value="4">23.0</option>         
						<option value="5">24.0</option>         
						<option value="6">25.0</option>         
						<option value="7">26.0</option>         
				</select></li>

				<li><label for="select-native-4">최고 온도</label>     <select
					name="select-native-4" id="highTempId">         
						<option value="1">20.0</option>         
						<option value="2">21.0</option>         
						<option value="3">22.0</option>         
						<option value="4">23.0</option>         
						<option value="5">24.0</option>         
						<option value="6">25.0</option>         
						<option value="7">26.0</option>         
				</select></li>



				<li><label for="select-native-5">최저 온도</label>     <select
					name="select-native-5" id="lowTempId">         
						<option value="1">11.0</option>         
						<option value="2">12.0</option>         
						<option value="3">13.0</option>         
						<option value="4">14.0</option>         
						<option value="5">15.0</option>         
				</select></li>




			</ul>

			<div style="width: 30%; margin: auto;">
				<br />
				<button id="applySwitch" class="ui-btn">Apply</button>
			</div>
		</div>

	</div>




	<div id="runningMin"></div>
	<div id="watchingMin"></div>
	<div id="targetTemp"></div>

</body>
</html>