<!DOCTYPE html>
<html>
<head>


<title>Hello World</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/themes/MyHome.css" />
<link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
		$.ajax({
			contentType : 'application/json',
			dataType : 'json',
			url : '/getInfo',
			type : 'POST',
			success : function(response) {
				if (response.working == true)
					$("#switch").html("On");
				else
					$("#switch").html("Off");
				//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
			},
			error : function(request, status, error) {
				alert(response.message);
			}
		});

	});

	$(function() {
		$('#switch').on('click', function() {
			var value = $("#switch").text();
			$.ajax({
				data : {
					"val" : value
				},
				url : '/switchHeater',
				type : 'get',
				success : function(response) {
					if (response.result == true) {
						if (value == "On")
							$("#switch").html("Off");
						else
							$("#switch").html("On");
					} else
						alert("Not Work! : " + response.result);

					//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
				},
				error : function(request, status, error) {
					alert(response.message);
				}
			});
		});

	});

	function switchHeater() {
		var value = $("#switch").text();
		$.ajax({
			data : {
				"val" : value
			},
			url : '/switchHeater',
			type : 'get',
			success : function(response) {
				if (response.result == true) {
					if (value == "On")
						$("#switch").html("Off");
					else
						$("#switch").html("On");
				} else
					alert("Not Work! : " + response.result);

				//$("#runningMin").html("보일러 작동 시간 : " + response.runningMin);
			},
			error : function(request, status, error) {
				alert(response.message);
			}
		});
	}
</script>
</head>
<body>

	<div id="status" style="width:70%; margin: auto;">
		<h1 style="align:center;">현재 보일러 작동 현황</h1>
		<button id="switch" class="ui-btn">On/Off</button>
	</div>
	<div id="runningMin"></div>
	<div id="watchingMin"></div>
	<div id="targetTemp"></div>
	<div id="targetTemp"></div>
</body>
</html>